.mainhead{
    color: #f99b1d;
    text-align:center;
}
.def{
    color:#af5c0e8c;
}
.mainhead1{
    color:#5c5230c4 ;
    text-align:center;
}
li{
    margin-top: 5px;
}
img{
    width: 100%;
    padding: 20px;
    height: 400px;
}
ul{
    list-style-type: none;
}
p{
    color: #fff;
}
.link {
    text-decoration: none;
  }
  button{
      background-color: #5c5230c4;
      color: #fff;
  }
  